@{
    ViewData["Title"] = "Success";
}
<form class="form-signin">
    <div class="text-center mb-4 tag">
        <img src="~/images/farmizo-logo.png">
    </div>
    <div class="text-center mb-4 tag">
        <img id="icon" class="mb-4" src="~/images/un-verified-ac.png">
        <h5 class="mb-3 font-weight-normal text-danger">Email confirmation failed. </h5>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">© 2020-2021</p>
</form>

