@{
    ViewData["Title"] = "Success";
}
<form class="form-signin">
    <div class="text-center mb-4 tag">
        <img src="~/images/farmizo-logo.png">
    </div>
    <div class="text-center mb-4 tag">
        <img id="icon" class="mb-4" src="~/images/verified-ac.png">
        <p>
            The reset password link has been sent, please check your email to reset your password.
        </p>
    </div>
    <p class="mt-2 mb-2 text-muted text-center"><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign In</a></p>
    <p class="mt-5 mb-3 text-muted text-center">© 2020-2021</p>
</form>

