@model Farmizo.Services.Identity.API.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Verify";
}
<form asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-signin">
    <div class="text-center mb-4 tag">
        <img class="mb-4" src="~/images/farmizo-logo.png">
        <h4 class="mb-3 font-weight-normal">Forgot Password</h4>
        <p>Enter the email address or mobile phone number associated with your Farmizo account.</p>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-label-group">
        <input type="text" autocomplete="off" asp-for="UserName" class="form-control pl-0"
               required autofocus>
        <label class="pl-0">Email or mobile phone number</label>
    </div>
    <div class="pt-4 pb-4">
        <button class="btn btn-lg btn-success btn-block" type="submit">CONTINUE</button>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

