@model Farmizo.Services.Identity.API.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Verify";
}
<form asp-action="ResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-signin">
    <div class="text-center mb-4 tag">
        <img class="mb-5 mt-4" src="~/images/farmizo-logo.png">
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-label-group mt-4 mb-4">
        <input type="password" autocomplete="off" class="form-control pl-0" asp-for="Password" placeholder="New Password"
               required autofocus>
        <label asp-for="Password" class="pl-0">New Password</label>
        @*<span asp-validation-for="Password" class="text-danger"></span>*@
    </div>
    <div class="form-label-group mt-4 mb-4">
        <input type="password" autocomplete="off" class="form-control pl-0" asp-for="ConfirmPassword" placeholder="Confirm New Password"
               required autofocus>
        <label asp-for="ConfirmPassword" class="pl-0">Confirm New Password</label>
        @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
    </div>
    <input type="hidden" asp-for="Email" class="form-control" />
    <input type="hidden" asp-for="Token" class="form-control" />
    <input type="hidden" asp-for="Client" class="form-control" />
    <div class="pt-5 pb-5">
        <button class="btn btn-lg btn-success btn-block" type="submit">SUBMIT</button>
    </div>
    <div>
        <p class="mt-2 mb-2 text-muted text-center"><a href="Login.html">Sign in</a></p>
    </div>





    @*<div class="form-label-group">
            <input type="text" autocomplete="off" class="form-control pl-0" asp-for="Password"
                   required autofocus>
            <label asp-for="Password" class="pl-0">Password *</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-label-group">
            <input type="text" autocomplete="off" class="form-control pl-0" asp-for="ConfirmPassword"
                   required autofocus>
            <label asp-for="ConfirmPassword" class="pl-0">Confirm Password *</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>*@

    @*<div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>*@

    @* <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>*@
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

